<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="happyyoung.trashnetwork.recycle">

    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="TrashNetwork.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="${applicationId}.database.model.LoginUserRecord" />
        <meta-data
            android:name="TN_HTTP_API_BASE_URL_V1"
            android:value="@string/TN_HTTP_API_BASE_URL_V1" />
        <meta-data
            android:name="TN_WEBPAGE_BASE_URL"
            android:value="@string/TN_WEBPAGE_BASE_URL" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="@string/AMAP_LBS_API_KEY" />
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="@string/JPUSH_API_KEY" />

        <!-- push service start -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- push service end -->

        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.amap.api.location.APSService" />
        <service
            android:name=".service.LocationService"
            android:exported="false" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ScanQRCodeActivity"
            android:label="@string/action_scan_qr_code" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/action_sign_in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/action_settings" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="@string/action_about" />
        <activity
            android:name=".ui.activity.CreditRecordActivity"
            android:label="@string/action_credit_record" />
        <activity
            android:name=".ui.activity.NewFeedbackActivity"
            android:label="@string/action_new_feedback" />
        <activity
            android:name=".ui.activity.RecycleRecordActivity"
            android:label="@string/action_recycle_record" />
        <activity android:name=".ui.activity.WebActivity" />
        <activity
            android:name=".ui.activity.DeliverAddressActivity"
            android:label="@string/setting_delivery_address" />
        <activity android:name=".ui.activity.EditDeliveryAddressActivity" />
        <activity
            android:name=".ui.activity.CreditMallDetailActivity"
            android:label="@string/commodity_detail" />
        <activity
            android:name=".ui.activity.OrderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.SubmitOrderActivity"
            android:label="@string/action_submit_order"/>
    </application>

</manifest>