<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="happyyoung.trashnetwork.recycle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="TN_HTTP_API_BASE_URL_V1"
            android:value="@string/TN_HTTP_API_BASE_URL_V1" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="@string/BAIDU_LBS_API_KEY" />

        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":bdmap" />
        <service
            android:name=".service.LocationService"
            android:exported="false" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ScanQRCodeActivity"
            android:label="@string/action_scan_qr_code" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/action_sign_in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.SettingsActivity"
            android:label="@string/action_settings"/>
    </application>

</manifest>